html,
body {
	background: transparent;
}

.App {
  max-width: 1920px;
  padding: 0 15px;
}

.header {
  padding: 15px 0;
  text-align: right;
}

.theme-swithcer {
  display: inline-block;
	padding: 8px 15px;
	border: 1px solid #0053b6;
	color: #0053b6;
  margin-left: auto;
}
